# 01.intro

## 단축키
- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + enter : 지금 셀 실행 & 아래에 새로운 셀 추가

In [ ]:
#. 주석입니다.

## 1.변수
변수이름 '=' 값
- 변수이름은 어떤 이름이든 상관없음
- 영어, 숫자, '_'를 이용하여 선언
- 키워드는 사용불가

In [ ]:
a = 10

In [ ]:
a

In [2]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

## 1.1 number

In [5]:
a = 1000000

In [6]:
a

1000000

In [7]:
type(a)

int

In [8]:
b = 1.1

In [9]:
b

1.1

In [10]:
type(b)

float

In [11]:
c = 1 - 4j

In [12]:
c

(1-4j)

In [13]:
type(c)

complex

In [15]:
c.imag

-4.0

In [19]:
c.real

1.0

### 1.2 Boolean

`True`, `False`로 이루어진 타입

In [20]:
a = True

In [21]:
type(a)

bool

### 1.3 None
데이터가 없음을 의미

In [22]:
a = None

In [ ]:
type(a)

### 1.4 String
- 문자열은 `'`, `"`를 이용하여 표현
- 사용할 때 둘 중에 하나를 선택하여 통일을 해주는 게 좋음

In [24]:
a = 'hello'

In [25]:
type(a)

str

In [27]:
b = "world"

In [28]:
type(b)

str

In [29]:
age = input() # *은 셀이 아직 진행 중인 것

 111111

In [30]:
age

'111111'

In [31]:
type(age)

str

In [33]:
print('안녕하세요? 김민주입니다.')

안녕하세요? 김민주입니다.

In [35]:
print("안녕하세요?'김민주'입니다.")

안녕하세요?'김민주'입니다.

In [36]:
print('안녕하세요? \'김민주\'입니다.')

안녕하세요? '김민주'입니다.

In [44]:
a = '''
여기는 \n문자열입니다.
여러\t줄을 작성할 수 있어요.
'''

In [45]:
a

'\n여기는 \n문자열입니다.\n여러\t줄을 작성할 수 있어요.\n'

In [46]:
print(a)

여기는
문자열입니다.
여러	줄을 작성할 수 있어요.

In [47]:
print('하나','둘','셋')

하나 둘 셋

### string interpolation

1. %-formatting
2. str.format()
3. f-string

In [48]:
age = 10

In [50]:
print('홍길동은 %s살입니다.'%age)

홍길동은 10살입니다.

In [51]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [52]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

### 2. 연산자
2.1 산술연산자

In [54]:
a = 2
b = 3

In [57]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

5
-1
6
0.6666666666666666

In [59]:
a + b
a - b

-1

In [60]:
print(a**b)

8

In [64]:
# 나눈 몫
print(a // b)
# 나눈 나머지를 출력
print(a % b)

# mod 둘 다 출력해주는 함수
print(divmod(a, b))

0
2
(0, 2)

### 2.2 비교연산자

In [66]:
a = 5
b = 10

In [70]:
print(a > b) # a가 b보다 크나요? 를 물어보는 것
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [72]:
print(a == b) # 값 2개가 같나요 ? 를 물어보는 것
# =를 한 개는 값을 할당할 때에 사용
print(a != b) # 값 2개가 다르나요? 를 물어보는 것

False
True

### 2.3 논리연산자
- `and` : 양쪽 모두 `Ture`일 때 `True`를 반환
- `or` : 양쪽 모두 `False`일 때 `False`를 반환
- `not` : 값을 반대로 전환

In [75]:
print(True and True)
print(Te and False)
print(False and True)
print(False and False)

True
False
False
False

In [79]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [77]:
print(True)
print(not True)

a - True
print(not a)

True
False
False

In [78]:
# 단축평가(and)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [80]:
# 단축평가(or)
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

In [81]:
print(None or 'index.html')

index.html

In [82]:
print('login.html' or 'index.html')

login.html

###  2.4 복합연산자

In [90]:
a = 2
b = 3

In [95]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a // b
a = a % b
a = a ** b

In [92]:
print(a)

5

In [96]:
a += b
a -= b
a *= b
a /= b
a //= b
a %= b
a **= b
print(a)

0.0

### 2.4 기타연산자

In [97]:
a = 'hi'
b = 'hello'

In [98]:
#concatenation 연결
a + b

'hihello'

In [100]:
a = [1, 2, 3]
b = [9, 8, 7]

In [101]:
a + b

[1, 2, 3, 9, 8, 7]

In [105]:
print('a' in 'apple') 
#in은 앞에 글자가 뒤의 글자에 속해있냐고 묻는 것
print('z' in 'apple')

True
False

In [106]:
print( 1 in [1, 2, 3])
print(100 in [1, 2, 3])

True
False

In [107]:
a = 123123
b = 123123
print(a is b)

False

In [1]:
a = 10
b = 10
print(a is b)
# is는 위치가 같은지 물어보는 것

True

### 연산자 우선순위

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+,-)
4. 비교연산자, is, in
5. not
6. and, or

In [3]:
print(-3 ** 4)

-81

## 3. 형변환
###3.1

In [4]:
a = True
b = False
c = 1

In [6]:
print(a + c)
print(b + c)

2
1

In [7]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [9]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(6+3j)

### 3.2 명시적 형변환

In [11]:
a = 1
b = '번'

In [13]:
print(str(a) + b)

1번

In [14]:
a = '100'

In [16]:
print(type(int(a)))

<class 'int'>

In [18]:
age = int(input())
print(type(age))

 123

<class 'int'>

In [19]:
a = '3.3'

In [20]:
type(int(a))

ValueError: invalid literal for int() with base 10: '3.3'

In [21]:
type(float(a))

float

In [22]:
a = 1
b = 0
c = 100

In [23]:
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [24]:
print(bool(''))
print(bool('a'))

False
True

In [26]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되어있다는 것은 정렬된 것과는 다르다.)
1. 리스트(list)
2. 튜플(tuple)
3. 레인지(range)
4. 문자열(string)

### 4.1 List(배열)
- 선언 : 변수이름 = [value1, value2, vlaue3]
- 접근 : 변수이름[index]

In [27]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [33]:
location = ['서울', '대전', '부산']
print(location)
print(type(location))

print(location[2])
print(location[-3])


location[2] = '제주'
print(location)

['서울', '대전', '부산']
<class 'list'>
부산
서울
['서울', '대전', '제주']

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]

In [36]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [37]:
t[2] = 100

TypeError: 'tuple' object does not support item assignment

In [40]:
# 몫과 나머지를 출력해주는 함수
result = divmod(9, 4)
print(type(result))
print(result[0])

<class 'tuple'>
2

In [42]:
x, y = (1, 2)
print(x, y)

x, y = y, x
print(x, y)

1 2
2 1

### 4.3 range
- range(n) : 0부터 n-1까지 범위
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) : n부터 m-1까지 범위, +s만큼 증가하는 범위

In [45]:
r = range(5)
print(r)
print(type(r))

range(0, 5)
<class 'range'>

In [46]:
r = range(5, 15)
print(r)

range(5, 15)

In [49]:
r = range(5, 15, 2)
print(r)

range(5, 15, 2)

In [50]:
list(r)

[5, 7, 9, 11, 13]

### 4.4 string
기본 데이터 구조 참고

### 4.5 시퀀스에서 사용 가능한 연산/함수

In [52]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (11, 22, 33, 44, 55)
my_range = range(1, 10, 2)
my_string = '일이삼사오'

In [56]:
# indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
22
3
이

In [58]:
# slicing
print(my_list[1:3])
print(my_tuple[1:3])
print(my_string[1:3])

[2, 3]
(22, 33)
이삼

In [61]:
print(my_list[1:4:2])
print(my_range[2:7:2])

[2, 4]
range(5, 11, 4)

In [62]:
print(my_list[ :3])
print(my_list[3: ])

[1, 2, 3]
[4, 5]

In [63]:
# in
print(1 in my_list)
print(11 in my_tuple)
print(1 in my_range)
print('일' in my_string)

True
True
True
True

In [65]:
# not in
print(11 not in my_list)
print(100 not in my_tuple)
print(1 not in my_range)
print('구' not in my_string)

True
True
False
True

In [68]:
# concatenation
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + (1, 2, 3))

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
(11, 22, 33, 44, 55, 1, 2, 3)

In [72]:
# *
print(my_string * 3)
print(my_list * 3)

print([[0] * 10] * 10)

일이삼사오일이삼사오일이삼사오
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [73]:
len(my_list)

5

In [74]:
min(my_tuple)

11

In [75]:
max(my_range)

9

In [76]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조
### 5.1 set
- 수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)
- 선언 : 변수이름 = {value1, value2, value3}

In [80]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [84]:
print(my_set_a - my_set_b) #차집합
print(my_set_a | my_set_b) #합집합
print(my_set_a & my_set_b) #교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [85]:
my_list = [1, 2, 3, 1, 4, 1, 2, 3, 5, 6, 7, 8, 2, 2]
print(set(my_list)) # 줃복된 값을 거를 때 사용하는 set함수

{1, 2, 3, 4, 5, 6, 7, 8}

### 5.2 dictionary
- 선언 : 변수이름 = {key1: value, key2: value2, key3: value3}
- 접근 : 변수이름[key]
- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutabble한 모든 값을 사용가능
- value에는 모든 데이터 가능. (list, dict도 가능)

In [86]:
my_dict = {'서울': '02', '경기': '031'}
my_dict['서울']

'02'

In [87]:
dict_a = {
    'name': 'changhee',
    'age': 10,
    'location': 'seoul',
    'numbers': [1, 2, 3, 4, 5],
    'friends': {
        'a': 10,
        'b': 11
}

print(dict_a['age'])
print(dict_a['numbers'][3])

10
4

In [88]:
dict_a.values()

dict_values(['changhee', 10, 'seoul', [1, 2, 3, 4, 5]])

## 데이터 타입

1. Number
2. Boolean
3. String

## 자료구조

- 시퀀스 자료형
    1. [List] : mutable(수정가능한)
    2. (Tuple) : immutable(수정불가능한)
    3. range() : immutable
    4. 'String' : immutable


- 시퀀스가 아닌 자료형
    1. {Set} : mutable
    2. {Dict: inonary} : mutable