# 함수(function)

In [ ]:
height = 10
width = 20

height2 = 50
width2 = 100
area = height *width
perimeter = (height + width) * 2
print(f'직사각형의 면적은 {area}, 둘레는 {perimeter} 입니다')

area2 = height2 * width2

## 함수의 선언과 호출

- 함수의 선언
```python
def func_name(parameter1, parameter2):
    code1
    code2
    ...
    return value
```
- 함수의 호출( 실행)
```python
func_name(parameter1, parameter2)
```

In [ ]:
def rectangle(height, width):
    area = height * width
    perimeter = (height + width) * 2
    print(area, perimeter)

In [ ]:
rectangle(100, 50)
rectangle(10, 20)
rectangle(30, 90)

In [ ]:
dir(__builtins__)

In [ ]:
# 두 개의 정수를 받아서 큰 수를 출력
# def my_max(num1, num2):
#     list = [num1, num2]
#     result = max(list)
#     print(result)

def my_max(num1, num2):
    if num1 > num2:
        print(num1)
    elif num1 < num2:
        print(num2)
    else:
        print('같습니다')

In [ ]:
my_max(3, 4)
my_max(5, 5)

## 함수의 return

- 함수가 return을 만나면 해당 값을 반환하고 함수를 종료합니다.
- 만약 return이 없다면 None을 자동으로 반환합니다.
- return은 오직 하나의 값만을 반환합니다.

In [ ]:
def my_max2(num1, num2):

    if num1 > num2:
        return
    elif num1 < num2:
        return num2
    else:
        return num1

#return은 이 함수의 결과를 뜻함

In [ ]:
a = my_max2(1, 2)
print(a)

In [ ]:
def my_list_max(list1, list2):
    if sum(list1) > sum(list2):
        return list1
    else:
        return list2

In [ ]:
my_list_max([1, 2, 3], [2, 3, 4])

## 함수의 인수

### 위치인수
기본적으로 함수는 인수의 위치로 판단합니다.

In [ ]:
def cylinder(r, h):
    return 3.14 * r ** 2 * h

In [ ]:
cylinder(10, 5)

In [ ]:
print(cylinder(10, 5))
print(cylinder(5, 10))

### 기본값
```python
def func(p1=v1):
    code...
    return p1
```

In [ ]:
def greeting(name='익명'):
    return f'{name}님 안녕하세요!!'

In [ ]:
greeting('민주')

In [ ]:
greeting()

In [ ]:
print('hello', 'world', sep='?????????????????????//')

In [30]:
def greeting(name='익명', age):
    return f'{name}님은 {age}살입니다.'

SyntaxError: non-default argument follows default argument (2027944172.py, line 1)

In [31]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

In [32]:
print(greetin(50, '홍길동'))
print(greeting(10))

홍길동님은 50살입니다.
익명님은 10살입니다.

### 키워드 인자
함수를 호출(실행)할 때 내가 원하는 위치에 직접적으로 특정인자를 전달 가능

In [35]:
def greeting(age, name='익명'):
    return f'{name}님은 {age}살입니다.'

In [39]:
print(greeting(10))
print(greeting(20, '홍길동'))
print(greeting('홍길동', 30))
print(greeting(name='홍길동', age=30)) #강제로 지정하는 것

익명님은 10살입니다.
홍길동님은 20살입니다.
30님은 홍길동살입니다.
홍길동님은 30살입니다.

## 가변 인자 리스트
```python
def fun(*parms):
    code
    ...
```

In [40]:
def my_print(*words):
    print(words)
    print(type(words))

In [41]:
my_print('a' ,'b', 'c', 'd')

('a', 'b', 'c', 'd')
<class 'tuple'>

In [42]:
print('a', 'b', 'c', 'd', sep='/')

a/b/c/d

In [44]:
# 응용해서 간단한 함수 구현
max(1, 2, 3, 4, 5, 6, 7)

7

In [52]:
# 여러 개의 숫자를 받아 그중 가장 큰 수를 리턴
def my_max(*numbers): # 튜플구조로 나옴

    result = numbers[0] # 첫 번째 데이터가 가장 작다는 가정
    for number in numbers:
        if result < number:
            result = number
            
    return result

In [53]:
print(my_max(1, 2, 3, 4, 5))
my_max(-1, -2, -3, -4)

5

-1

### 정의되지 않은 키워드 인자 처리하ㅣㄱ
```python
def func(**kwargs):
    code
    ...
```

In [54]:
info = {
    'name': 'hong',
    'age': 10,
}
print(info)

{'name': 'hong', 'age': 10}

In [56]:
info = dict(name='hong', age=20)
print(info) # dict라는 함수를 사용한 것

{'name': 'hong', 'age': 20}

In [81]:
def fake_dict(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}는 {value}입니다.')

In [82]:
fake_dict(a=10, b=20)
fake_dict(korea='안녕', english='hello')

a는 10입니다.
b는 20입니다.
korea는 안녕입니다.
english는 hello입니다.

## dictionary를 인자로 넣기(unpacking)

In [68]:
def sign_up(id, pw, pw_confirmation):
    if pw == pw_confirmation:
        print(f'{id}님 회원가입이 완료되었습니다.')
    else:
        print('비밀번호가 일치하지 않습니다.')

In [70]:
sign_up('change', '1234', '1234')
sign_up('change', '1234', '1235')

change님 회원가입이 완료되었습니다.
비밀번호가 일치하지 않습니다.

In [73]:
account = {
    'id': 'change',
    'pw': '1234',
    'pw_confirmation': '1234',
}
sign_up(**account)

change님 회원가입이 완료되었습니다.

## lambda 표현식
```python
lambda parameter: expression
```

In [75]:
(lambda x, y: x+ y)(1, 2)

3

In [77]:
def my_sum(x, y):
    return x + y

my_sum(1, 2)

3

## 타입힌트

In [78]:
def my_sum(a, b):
    return a + b

In [79]:
my_sum('1', 2)

TypeError: can only concatenate str (not "int") to str

### 이름공간(scope)
python에서 사용되는 이름들은 이름공간(namespace)에 저장되어있습니다.

- Local scope : 정의된 함수 내부
- Enclosed scope : 상위함수
- Global scope : 함수 밖의 변수 혹은 import된 모듈
- Built-in scope :python이 기본적으로 가지고 있는 함수 혹은 변수

In [1]:
str = '123'

In [2]:
print(str)

123

In [6]:
str(123)

'123'

In [4]:
del str

In [5]:
a = 1

def local_scope(a):
    print(a) # 가장 가까운 걸 찾으면 된다.

local_scope(5)
print(a)

5
1

In [7]:
a = 10

def global_scope():
    global a
    print(a)

global_scope()

10

### 재귀(recursive)
재귀 함수는 함수 내부에서 자기 자신을 호출하는 함수를 의미한다.

In [10]:
# 팩토리얼(n! = 1 * 2 * 3 * ... * n)
def fact(n):
    result = 1

    while n > 1:
        result = result * n
        n = n - 1
        
    return result

print(fact(5))

120

n! = 1 * 2 * 3 * ... * n-1 * n
- 1! = 1
- 2! = 1 * 2 = 1! *2
- 3! = 1 * 2 * 3 = 2! * 3
- 4! = 1 * 2 * 3 * 4 = 3! * 4

In [13]:
def factorial(n):
    if n <= 1:
        return 1
    else:
        return factorial(n-1) * n

print(factorial(5))

120

#### 피보나치 수열
- F(0) = F(1) = 1
- F(N) = F(N-1) + F(N-2)

In [14]:
# 반복문
def fib_loop(n):
    result = [1, 1]

    for i in range(1, n):
        end1 = result[-1]
        end2 = result[-2]

        fib_num = end1 + end2

        result.append(fib_num)
    return  result[-1]

print(fib_loop(10))

89

In [15]:
# 재귀
# 어떨 때는 이게 더 직관적일 수 있다.
def fib_rec(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fib_rec(n-1) + fib_rec(n-2)

print(fib_rec(10))

89